/* 
 * Main stylesheet for Lucretius Ipsum Generator
 * Author: Daniel Sellergren
*/

/*

  Zeus/Jupter Color Palette
  #FFFAF0
  #F5DEB3
  #433F42
  #7A777A
  #D1D1D1

*/

body {
	background: #FFFAF0;
}
div#container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}
header {
	/*clear: both;*/
	text-align: center;
	width: 50%;
	float: left;
}
header h1 {
	/*width: 50%;*/
/*	float: left;
	clear: none;*/
}
header h2 {
/*	width: 50%;
	clear: none;
	float: left;*/
}
img {
	width: 50%;
	float: left;
}
section#ipsum {
	float: right;
	width: 50%;
	text-align: center;
}
section#ipsum textarea {
	display: block;
	width: 90%;
	height: 200px;
	margin: 0 5% 10px 5%;
}
section#ipsum input[type="radio"] {

}
section#ipsum button#generate {
	clear: both;
	margin: 10px auto;
	display: block;
}

footer {
	clear: both;
}
footer span {
	display: block;
	clear: both;
	text-align: center;
	margin: 10px 0;
}
footer span a {
	display: inline-block;
}

@media only screen and (max-width : 480px) {

}