/* 
 * Main stylesheet for Lucretius Ipsum Generator
 * Author: Daniel Sellergren
*/

div#container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}
header {
	clear: both;
	text-align: center;
}
header h1 {

}
header h2 {

}

section#ipsum {
	clear: both;
	width: 100%;
	text-align: center;
}
section#ipsum textarea {
	display: block;
	width: 90%;
	height: 200px;
	margin: 0 5% 10px 5%;
}
section#ipsum input[type="radio"] {

}
section#ipsum button#generate {
	clear: both;
	margin: 10px auto;
	display: block;
}

footer {
	clear: both;
}
footer span {
	display: block;
	clear: both;
	text-align: center;
	margin: 10px 0;
}
footer span a {
	display: inline-block;
}

@media only screen and (max-width : 480px) {

}