/* 
 * Main stylesheet for Lucretius Ipsum Generator
 * Author: Daniel Sellergren
*/

/* Palette
/*=========================================*/
/*
  #FFFAF0
  #F5DEB3
  #433F42
  #7A777A
  #D1D1D1
*/

/* Global
/*=========================================*/

body {
	background: #FFFAF0;
	font-family: 'Crimson Text', serif;
	color: #433F42;
}
a {
	color: #433F42;
}
em {
	font-style: normal;
}
div#container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

/* Header
/*=========================================*/

header {
	text-align: center;
	width: 50%;
	float: left;
}
header h1 {
	font-family: 'Cinzel', serif;
	font-weight: 400;
	font-size: 2.5em;
	color: #433F42;
}
img {
	width: 50%;
	float: left;
}

/* Form
/*=========================================*/

section#ipsum {
	float: right;
	width: 50%;
	text-align: center;
}
section#ipsum textarea {
	display: block;
	width: 90%;
	height: 250px;
	margin: 0 5% 10px 5%;
	border: 1px solid #D1D1D1;
	font-size: 1em;
	font-family: 'Crimson Text', serif;
}
section#ipsum input[type="radio"] {

}
section#ipsum button#generate {
	clear: both;
	margin: 30px auto 10px auto;
	display: block;
	background: #433F42;
	color: #FFFAF0;
	padding: 10px 20px;
	font-size: 1.2em;
	font-family: 'Crimson Text', serif;
	border: none;
}

/* Footer
/*=========================================*/

footer {
	clear: both;
}
footer p, footer span {
	display: block;
	clear: both;
	text-align: center;
	margin: 10px 0;
	font-size: 1em;
}
footer span a {
	display: inline-block;
}

/* Mobile
/*=========================================*/

@media only screen and (max-width : 480px) {

}